
/*页面初始化*/
html,body,h1,h2,h3,p,ol,ul,li,a{
   	 padding: 0px;
   	 border: 0;
   	 margin: 0;
   }
   /*通用样式*/
   body{
   	 padding:20px;
   }
   
   h1{
   	margin: 10px,0,15px,0;
   }
   
   h2{
   	margin: 10px 0 20px 0;
   }
   
   h3{
   	margin: 15px 0;
   	border-bottom: 1px solid #CCCCCC;
   }
   
    
    h1,h2,h3{
    	color:#79B1A3;
    }  
    
        
    ul{
    	padding: 0 0 0 50px;
    } 
     
     ol{
     	padding: 0 0 0 50px;
     }
     /*页面导航条*/
     .nav{
     	padding-left: 0;
     }
     
     .nav li{
     	display:inline;
     }
     
     .nav a{
     	color: #00B2C5;
     	text-decoration: none;
     	}
     /*菜单列表*/	
    .recipes{
     	list-style-type: none;
     	padding: 0;
     }
     
   .recipes{
   	border:1px solid #b56663;
   	padding: 15px;
   	margin: 15px o;
   }
   
  .recipes h3{
  	border-bottom: 0;
  }
  
   .recipes a{
   	color:#7facaa;
   	text-decoration: none;
   }